# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Project\Crack Tracking\.idea/dataSources/
/dataSources.local.xml
/model/1608616054_3250.hdf5
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
